.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* just aesthetics */
.container{
  width:90vw;
  height: 100vh;
  border: 1px;
  background-image: url(https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg);
  margin: auto;
}
body
{
    margin: 0;
    padding: 0;
    background-color: "white";
    font-family: 'Courier New';
}
.login{
        text-align: center;
        background-image: url(https://c4.wallpaperflare.com/wallpaper/550/999/806/simple-faded-colorful-wallpaper-preview.jpg);
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        width: 728px;
        height: 410px;
        border-radius: 15px ;

}
.text{
  text-align: center;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  overflow: hidden;
  width: 728px;
  height: 410px;
}
h2{
    text-align: center;
    color: "Black";
    padding: 20px;
    font-size: 35px;
    text-decoration: underline;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    background-color: #cc66ff;
    border-radius: 17px;
    padding-left: 7px;


}
.label{
  width: 500px;
  height: 30px;
  float: left;
}

a{
    float: right;
}
